DEBUG=True

JWT_SECRET_KEY = "SECRET"
JWT_ALGORITHM = "HS256"
ADMIN_PANEL_SECRET="SECRET"

BASE_URL="http://127.0.0.1:8080"

# sqlite
# DB_URL="sqlite+aiosqlite:///sqlite_test.db"
# TEST_DB_URL="sqlite+aiosqlite:///sqlite_test.db"

#postgres
DB_URL="postgresql+asyncpg://margelet_user:password@localhost:5432/margelet"
TEST_DB_URL="postgresql+asyncpg://margelet_user:password@localhost:5432/margelet"


ADMIN_NAME="admin"
ADMIN_EMAIL="admin@gmail.com"
ADMIN_PASSWORD="admin"


SMTP_HOST='smtp.gmail.com'
SMTP_PORT=587
SMTP_USER="example@gmail.com"
SMTP_PASSWORD="aaaa aaaa aaaa aaaa"


