fastapi[standard]
pydantic-settings
python-dotenv
uvicorn
httpx
pytest
alembic
sqladmin[full]
pyjwt
passlib
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy
pydantic[email]
pytest-asyncio
websockets
aiosmtplib

aiosqlite
asyncpg